*{
    margin: 0;
    padding: 0;
}
.navbar{
    z-index: 2;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
body{
        background-color: black;
}
span{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align:center;
}
h2{
    color: red;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
  0% {  
      opacity: 0;
    }
  100% { 
      opacity: 1;
    }
}
.dropdown-menu{
    background-color: rgb(66, 66, 66);
}
.dropdown-item{
    color: aliceblue;
}
form{
    margin-top: 30px;
    margin-left: 30px;
}